<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Teachers Panel</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/media.css' %}" />
    <link rel="stylesheet" href="{% static 'bootstrap-5.2.2-dist/css/bootstrap.min.css' %}">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>

  <body>
    <section class="container-fluid bigContainer p-0">
      {% include 'includes/top_menu.html' %}
      <div class="d-flex">
        {% include 'includes/left_menu.html' %}
        <div class="right_content">
          <div class="user_message align-items-center p-sm-3 p-md-4">
            {% include 'includes/noticfaction.html' %}
            {% block content %} 
            
            {% endblock %}
          </div>
        </div>
      </div>
    </section>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{% static 'bootstrap-5.2.2-dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <!-- <script src="{% static 'js/ajax.js' %}"></script> -->
  </body>
</html>
