{% extends 'teachers/base.html' %} 

{% block content %}

<div class="center_card text-center">
  <div class="d-block d-sm-flex justify-content-between">
    <h2 class="ms-3">Virtual</h2>
  </div>
  <div class="container-fluid">
    <div class="row mt-4 mb-4">
      <div class="col-12 bg-light p-3 p-sm-4 col-lg-6 text-start">
        <form method="post" enctype="multipart/form-data" class="form_block">
          {% csrf_token %}
          <div class="row">
            <div class="my-1 align-items-center gap-3">
              <select name="subject_slug" id="" class="form-select">
                {% for subject in teacher.subjects.all %}
                <option value="{{ subject.subject_slug }}">{{ subject.subject_name }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="my-1 align-items-center gap-3">
              <label for="title">Virtual PPTX sarlavhasi:</label>
              <input type="text" class="form-control" id="title" name="title" placeholder="Virtual PPTX sarlavhasi" required />
            </div>
            <div class="my-1 align-items-center gap-3">
              <label for="file">Virtual PPTX manzili:</label>
              <input type="text" class="form-control" id="file" name="file" placeholder="Virtual PPTX manzili" required />
            </div>
            <input id="status" name="status" type="text" hidden>
          </div>
          <div class="d-flex justify-content-end mt-3">
            <button class="btn btn-success text-end">
              <i class="fa-solid fa-plus"></i> Qo'shish
            </button>
          </div>
        </form>
      </div>
      <div class="col-12 bg-light p-3 p-sm-4 col-lg-6 text-start">
        <div class="row">
          <div class="my-1 align-items-center gap-3">
            <select name="subject_slug" id="" class="form-select" onchange="subjectFilter(this);">
              <option value="all">Barchasi</option>
              {% for subject in teacher.subjects.all %}
              <option value="{{ subject.subject_slug }}">{{ subject.subject_name }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="d-flex my-1 mb-4 align-items-center justify-content-between">
            <h5 class="fw-bold">Jami: <span>{{virtuals|length }}</span></h5>
            {% if virtuals %}
            <a href="{% url 'delete_all_virtual' %}" class="btn btn-danger all_del">All Deleted</a>
            {% else %}
            <a href="#" class="btn btn-danger disabled">All Deleted</a>
            {% endif %}
          </div>
          <div class="scroll text-white">
            {% for virtual in virtuals %}
            <div class="card p-2 bg-secondary my-2" data-filter="{{ virtual.subject.subject_slug }}">
              <div class="card_header d-flex justify-content-between">
                <span></span>
                <div>
                  <a href="#" onclick="editData();" class="btn btn-success me-2 edit_btn" data-edit="{{ virtual.pk }}"><i class="fa-solid fa-pen"></i></a>
                  <a href="{% url 'delete_virtual' virtual.pk %}" class="btn btn-danger"><i class="fa-solid fa-trash"></i></a>
                </div>
              </div>
              <div>
                <p class="fw-bold">{{virtual.virtual_title}}</p>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function editData(){
    let edit_btn = document.querySelector('.edit_btn');
    data_edit = edit_btn.getAttribute('data-edit')
    $.ajax({
        url: "edit_virtual",
        type: 'get',
        data: { attr: data_edit},
        success: function (data) {
          showEditData(data.split(','), data_edit);
        }
    });
}

function showEditData(items, s){
    let form_block = document.querySelectorAll('.form_block input');
    let status = document.querySelector('.form_block #status');
    let files_type = document.querySelectorAll('.form_block input[type=file]');
    files_type.forEach(item => {
      item.required = false
    });
    form_block[1].value = items[0]
    status.value = s
}
function subjectFilter(e){
  console.log(e.value);
  let cards = document.querySelectorAll('.scroll .card');
  cards.forEach((card) => {
    if (e.value == 'all'){
      card.style.display = 'block';
    } else if (card.getAttribute('data-filter') != e.value){
      card.style.display = 'none';
    }
  })
}
let all_del = document.querySelector('.all_del');
all_del.onclick = (e) => {
  let check = confirm("Xaqiqatdan xam o'chirmoqchimisiz");
  if (!check){
    e.preventDefault();
  }
}
</script>
{% endblock %}