{% extends 'kafedra/base.html' %}
{% load static %}

{% block title %} {{article.title }} {% endblock %} 


{% block content %}

<div class="container">
    <div>
        <div class="shadow mt-5">
            <div class="swiper mySwiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="/media/{{ article.image }}" alt="">
                </div>
                {% for gallery in article_gallery %}
                <div class="swiper-slide">
                    <img src="/media/{{ gallery.image }}" alt="">
                </div>
                {% endfor %}
              </div>
              <div class="swiper-pagination"></div>
            </div>
            <div class="time_see text-secondary p-4 d-flex gap-3 fs-12 justify-content-end">
              <div>
                  <span><i class="fa-solid fa-calendar-days"></i></span>
                  <span>{{ article.created_date |date:"d.m.Y" }}</span>
              </div>
              <div>
                  <span><i class="fa-solid fa-user"></i></span>
                  <span>{{ article.author.first_name }}</span>
              </div>
              <div>
                  <span><i class="fa-solid fa-list-ol"></i></span>
                  <span>{{ article_type }}</span>
              </div>
              <div>
                  <span><i class="fa-solid fa-eye"></i></span>
                  <span>{{ article.views }}</span>
              </div>
          </div>
            <div class="p-4">
              <h2 class="mx-4 text-center">{{ article.title }}</h2>
              <p class="text-justify">
                {{ article.context | safe }}
              </p>
              <div class="d-flex justify-content-end">
                  <button onclick="shareBtn(this);" class="btn btn-primary" style="width: 60px;"><i class="fa-solid fa-share-nodes share_btn"></i></button>
              </div>
            </div>
          </div>
    </div>
</div>
<!-- Initialize Swiper -->
<script>
  var swiper = new Swiper(".mySwiper", {
    slidesPerView: 1,
    spaceBetween: 30,
    loop: true,
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
  });
</script>

<script>
  function changeIcon(share_btn, add, remove) {
    share_btn.classList.add(add);
    share_btn.classList.remove(remove);
  }
  function changeColorBtn(e, color) {
    e.classList.toggle(color);
  }
  function shareBtn(e) {
    let share_btn = document.querySelector(".share_btn");
    let share_url = `{{ request.build_absolute_uri }}`;
    navigator.clipboard.writeText(share_url);
    changeIcon(share_btn, "fa-circle-check", "fa-share-nodes");
    changeColorBtn(e, "btn-success");
    setInterval(function () {
      changeIcon(share_btn, "fa-share-nodes", "fa-circle-check");
      changeColorBtn(e, "btn-success");
    }, 2000);
  }
</script>

{% endblock %}
