<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>

    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'bootstrap.bundle.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/teacher.css' %}">
    <link rel="stylesheet" href="{% static 'css/kafedra.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-5.2.2-dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'OwlCarousel2-2.3.4/dist/assets/owl.carousel.min.css' %}">
    <!-- Swiper JS -->
    <link rel="stylesheet" href="{% static 'swiper-bundle.min.css' %}" />
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
          integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
        <link rel="icon" href="{% static 'img/title_logo.png' %}">
</head>
<body id="home">

    {% include 'kafedra/includes/search.html' %}


    {% include 'kafedra/includes/navbar.html' %}
    <section class="container-fluid p-0">
        {% block content %}



        {% endblock %}
    </section>
    {% include 'kafedra/includes/footer.html' %}

    <a class="scroll-link top-link" href="#home">
        <i class="fas fa-arrow-up"></i>
      </a>

    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'OwlCarousel2-2.3.4/dist/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/kafedra.js' %}"></script>
     <script src="{% static 'js/translater.js' %}"></script>
    <script src="{% static 'bootstrap-5.2.2-dist/js/bootstrap.bundle.min.js' %}"></script>
    <script>
      const btn = document.querySelector("#btn_translater");
      const translate = document.querySelector("#translate");
      btn.addEventListener("click", () => {
        translate.classList.toggle("none");
      });
      function googleTranslateElementInit() {
        new google.translate.TranslateElement({ pageLanguage: "en" }, "google_tanslate_element");
      }
      googleTranslateElementInit()
    </script>
</body>
</html>