{% extends 'kafedra/base.html' %}
{% load static %}



{% block title %} Kafedra | Iqtidorli talabalar {% endblock %}

{% block content %}

      <section class="student mt-5">
            <div class="container">
                <p class="fs-13">Asosiy / <span class="text-muted">Iqtidorli Talabalar</span></p>
                <h4 class="text-uppercase">Iqtidorli Talabalar</h4>
                <div class="row mt-5">
                    {% for student in best_students %}
                    {{ student.body | safe }}
                    {% endfor %}
                </div>
            </div>
        </section>

{% endblock %}
