{% extends 'kafedra/base.html' %}
{% load static %}



{% block title %} Kafedra | tarixi {% endblock %}

{% block content %}

 <!-- history start -->
 <!-- modul porfolio img start -->
<div class="popup">
    <div class="modal_dis">
      <span class="exit">&times;</span>
      <div class="myModal">
        <p class="text text_justify modal_p pe-3" id="domla1">
            Ирисқулов Султобой Собирқулович – 1955 йилнинг 17 июлида Наманган вилояти Янгуқўрғон
            туманида таваллуд топган. У ўрта мактабни аъло баҳоларга тугатгач, 1972-1977
            йилларда Тошкент давлат университетида Амалий математика мутахассислиги бўйича билим
            олиб, муваффаққиятли якунлади. Шундан сўнг ҳисоблаш техникаси ва ахборот
            технологияларига бўлган қизиқиши туфайли ўз ишини Ўзбекистон Республикаси Фанлар
            Академияси “Кибернетика” илмий ишлаб чиқариш бирлашмасида муҳандис лавозимидан
            бошлади. 1980-1992 йилларда эса Тошкент политехника институтда ассистент, катта
            ўқитувчи лавозимларида фоалият олиб борди.
            С.С.Ирисқулов илмий тадқиқот ишлари устида тинмай олиб борган изланишлари натижасида
            техника фанлари бўйича номзодлик диссертациясини ҳимоя қилиб, техника фанлари
            номзоди илмий даражасига эга бўлган.
            С.С.Ирисқулов Наманган муҳандислик-саноат технологиялари (ҳозирги НамМҚИ)
            институтидаги ўзининг меҳант фаолиятини 1992 йилдан бошлади. 2012 йилгача бўлган
            самарали меҳнат фаолияти давомида турли лавозимларда, жумладан Информатика
            факультетида декан муовини, Информатика ва АТ кафедрасининг мудири ва кафедра
            доценти лавозимларида фаолият олиб борди.
            С.С.Ирисқулов кафедрада фаолият олиб борган даврда унинг раҳбарлигида кафедрада
            таълим сифатини ошириш ва кафедранинг илмий-педагогик кадрлар заҳирасини яратиш
            бўйича улкан ишлар амалга оширилди. Жумладан, бир қатор ёш педагог кадрлар ўша
            вақтдаги ЎзФА “Кибернетика” илмий ишлаб чиқариш бирлашмаси билан ҳамкорликда илмий
            тадқиқот ишларига жалб этилди ва номзодлик диссертациялари муваффаққиятли ҳимоя
            қилинишига эришилди. Ушбу ёшлар ҳозирги вақтда институтнинг турли лавозимларида
            самарали меҳнат қилиб келишмоқда.
            У кўплаб илмий мақолалар ҳамда ўқув қўлланмалар муаллифидир.

        </p>
        <p class="text text_justify modal_p pe-3" id="domla2">
            Абдулхапизов Хакимжон - 1951 йил 16 март куни Наманган вилояти Чуст тумани Олмос
            қишлоғида хизматчи оиласида таваллуд топган.
            1957 йил Олмос қишлоғидаги 21-ўрта мактабга ўқишга кириб, 1959 йилда Чуст шаҳридаги
            мактаб-интернатида, 1965 йилдан эса Наманган шаҳридаги 40-сонли мактабда ўқишни
            давом эттирган ва ушбу мактабни 1967 йилда Олтин медал билан тугатган.
            Мактабни якунлагандан сўнг шу йили Тошкент давлат (ҳозирги Ўзбекистон Миллий
            Университети) университетининг механика-математика факультетига ўқишга кириб, 1972
            йилда университетни муваффаққиятли якунлаган.
            Х.Абдулхапизов амалий масалаларни турли ҳисоблаш усуллари ёрдамида ечиш ҳамда шу
            соҳадаги илмий-тадқиқот ишларига бўлган қизиқиши туфайли 1974-1977 йилларда
            Ўзбекистон Республикаси Фанлар Академияси “Кибернетика” илмий ишлаб чиқариш
            бирлашмасида аспирант, 1977 йилдан 1984 йилгача ЎзФА Романовский номли математика
            илмий текшириш институтида илмий ходим сифатида фаолият олиб бориш билан биргаликда
            ўзининг илмий изланишлари устида тинмай меҳнат қилган.
            Илмий-тадқиқот ишларини якуни ва эришган илмий натижалари асосида 1984 йил Грузия
            давлатининг Тбилиси шахрида техника фанлари бўйича номзодлик диссертациясини
            мувофаққиятли ҳимоя қилган.
            1984 йили Тошкент политехника институти Наманган филиали (ҳозирги НамМҚИ) га
            йўлланма асосида ишга қабул қилинган.
            Х.Абдулхапизов институтда узоқ йиллар давомида ёшларга сидқидилдан таълим бериб,
            кўплаб шогирдлар чиқарди, мунтазам равишда кафедрадаги ёшларнинг илмий салоҳиятига
            эътиборли бўлиб, илмий-тадқиқот ишларига жалб этишда доимий кўмакчилик қилган.
            У 1984 йилдан 2001 йилгача кўплаб лавозимларда фаолият олиб борган, жумладан,
            кафедра доценти, кафедраси мудири лавозимларида сидқидилдан меҳнат қилган.
            У кўплаб илмий мақолалар ҳамда ўқув қўлланмалар муаллифидир.
        </p>
        <p class="text text_justify modal_p pe-3" id="domla3">
            Каримов Пазлитдин Йигиталиевич - 1952 йилнинг 25 декабрида Наманган вилояти Наманган
            туманида таваллуд топган. У ўрта мактабни аъло баҳоларга тугатгач, 1970-1975
            йилларда Самарқанд давлат университети математика мутахассислиги бўйича билим олиб,
            муваффаққиятли якунлади.
            У ўзининг меҳнат фаолиятини 1975 йилдан Мингбулоқ туманидаги 15-умумтаълим ўрта
            мактабида математика ўқитувчиси сифатида бошлади. 1976-1989 йилларда Наманган
            туманидаги 21-умумтаълим ўрта мактабида фаолият олиб борди.
            П.Й.Каримовни Хисоблаш техникаси ва ахборот технологияларига бўлган қизиқиши ҳамда
            соҳада олиб бораётган илмий-тадқиқот ишлари 1989 йили Ўзбекистон Республикаси Фанлар
            Академияси “Кибернетика” илмий ишлаб чиқариш бирлашмасига етаклади. Шу тариқа 1992
            йилга қадар ушбу бирлашмада муҳандис лавозимида ишлаш билан биргалик ўзининг илмий
            тадқиқот ишларини ҳам олиб борди.
            П.Й.Каримов илмий тадқиқот ишлари устида тинмай олиб борган изланишлари натижасида
            техника фанлари бўйича номзодлик диссертациясини ҳимоя қилиб, техника фанлари
            номзоди илмий даражасига эга бўлган.
            П.Й.Каримов Наманган саноат-технологиялари (ҳозирги НамМҚИ) институтидаги ўзининг
            меҳант фаолиятини 1992 йилдан бошлади. 2017 йилгача бўлган самарали меҳнат фаолияти
            давомида турли лавозимларда, жумладан компьютер маркази бошлиғи, ахборотлар
            технологияси бўлими бошлиғи, Информатика ва АТ кафедрасининг катта ўқитувчиси,
            доценти лавозимларида фаолият олиб борди.
            П.Й.Каримов кафедрада фаолият олиб борган даврда унинг раҳбарлигида кафедрада
            жамоасининг ўзаро бирдамлигига катта аҳамият берди. Шунингдек, ёшларни соҳаси бўйича
            етук мутахассис сифатидан тарбиялашда қатъий тартиб ва интизоми билан ўрнак бўла
            олди. Илмий-педагогик кадрлар заҳирасини яратишда ҳамда янгидан янги ёш
            мутахассисларни кашф қилишда қатъият билан меҳнат қилди.
            У кўплаб илмий мақолалар ҳамда ўқув қўлланмалар муаллифидир.

        </p>
      </div>
    </div>
  </div>
  <!-- modul porfolio img end -->
 <section class="history mt-5">
    <div class="container">
        <div class="row mt-5">
            <h3 class="text-center mb-5">
                Namangan muhandislik-qurilish instituti
                Axborot tizimlari va texnologiyalari kafedrasi
            </h3>
            <div class="col-12 col-lg-8">
                <div class="mb-5">
                    <h6 class="text-center fw-bold">Kafedra haqida</h6>
                    <p class="text text_justify">
                        “Axborot tizimlari va texnologiyalari” kafedrasi 1993-yildan buyon faoliyat ko‘rsatib
                        kelmoqda.
                        Hozirgi kunda kafedrada 20 nafar professor-o‘qituvchilar faoliyat yuritmoqda. Ulardan 7
                        nafari fan nomzodi bo’lib, shundan 1 nafari professor, 5 nafari dotsent, 6 nafari katta
                        o‘qituvchi, 7 nafari o‘qituvchilardir.
                        Kafedraning ilmiy salohiyati 36,4 foizni tashkil etadi. Kafedra professor-o’qituvchilari
                        tomonidan Axborot tizimlari va texnologiyalari, Texnologik jarayonlarni boshqarishning
                        axborot kommunikatsion tizimlari bo‘yicha bakalavriatura hamda Komputer tizimlari va
                        ularning dasturiy ta’minoti mutaxassisligi bo‘yicha magistratira talabalariga
                        mutaxassislik fanlaridan ilg‘or pedagogik texnologiyalar asosida dars mashg‘ulotlari
                        olib oriladi.

                    </p>
                </div>
                <div class="mb-5">
                    <h6 class="text-center fw-bold">Kafedra hamkorligi</h6>
                    <p class="text text_justify">
                        Kafedra Qirg‘iziston Respublikasi O‘sh texnologiyalar universiteti va O‘sh davlat
                        universiteti, Farg‘ona politexnika instituti, Toshkent axborot texnologiyalari
                        universiteti, Toshkent davlat texnika universiteti, O‘zbekiston milliy universiteti,
                        shuningdek Farg‘ona vodiysidagi institut va universitetlar bilan o‘zaro manfaatli
                        hamkorliklar o‘rnatilgan hamda o‘quv-uslubiy va ilmiy-tadqiqot faoliyatlari yo‘lga
                        qo‘yilgan.
                        Shuningdek, kafedra tomonidan Belarus, Qozon, Janubiy Ural davlat universitetlari bilan
                        hamkorlik shartnomasi doirasidagi qo‘shma ta’lim dasturida ham faoliyat olib boriladi.
                        Bundan tashqari kadrlar sifatini oshirish va o‘quv rejalari hamda fan dasturlarini zamon
                        talablariga moslashtirish maqsadida “Axborot texnologiyalari va kommunikatsiyalarini
                        rivojlantirish vazirligi huzuridagi Raqamli texnologiyalar va sunʼiy intellektni
                        rivojlantirish ilmiy-tadqiqot instituti”, “Dasturiy mahsulotlar va axborot
                        texnologiyalari texnologik parki direksiyasi” MCHJ (IT-Park), Namangan viloyat
                        statistika boshqarmasi, Namangan viloyati Moliya bosh boshqarmasi, “Namangan Intellekt
                        Software developers” XK, Namangan viloyati qishloq xoʻjaligi boshqarmasi kabi ish
                        beruvchi korxona va tashkilotlar bilan muntazam hamkorlik aloqalari o‘rnatilgan.
                    </p>
                </div>
                <div class="mb-5">
                    <h6 class="text-center fw-bold">Kafedrada olib borilayotgan ilmiy-tadqiqot ishlari</h6>
                    <p class="text text_justify">
                        2022 yil 24 mart kuni Namangan muhandislik-qurilish instituti qoshidagi “InTech NamMQI”
                        unitar korxonasi davlat ruyxatidan o‘tkazildi. Mazkur unitar korxona O‘zbekiston
                        Respublikasi Prezidentining 2020 yil 5 oktyabrdagi «Raqamli O‘zbekiston-2030»
                        strategiyasini tasdiqlash va uni samarali amalga oshirish chora-tadbirlari to‘g‘risidagi
                        PF-6079-sonli Farmoni hamda O‘zbekiston Respublikasi Prezidentining Axborot
                        texnologiyalari sohasida ta’lim tizimini yanada takomillashtirish, ilmiy tadqiqotlarni
                        rivojlantirish va ularni IT-industriya bilan integrasiya qilish chora-tadbirlari
                        to‘g‘risida 2020 yil 6 oktyabrdagi PQ-4851-son qarorini ijrosini ta’minlash maqsadida
                        tashkil etildi.
                        Unitar korxonani tashkil etish masalasi Institut ilmiy kengashining 25.02.2022 sanadagi
                        8-sonli yig‘ilishda ko‘rib chiqilgan. “InTech NamMQI” unitar korxonasini Sanoatni
                        axborotlashtirish fakulteti Axborot tizimlari va texnologiyalari kafedrasi
                        stajyor-o‘qituvchisi A.Ismoilov rahbarligida tashkil etilgan bo‘lib, asosiy maqsad
                        institut olimlari, professor-o‘qituvchilari, doktorantlari, magistrlari va talabalari,
                        ularning ilmiy tadqiqot ishlari natijalari, konstruktorlik ishlari, ihtiro va
                        patentlari, intellektual mulkning ishlab chiqarishga joriy qilish natijalari, hududdagi
                        tashkilot va korxonalarning innovatsion rivojlanishiga ko‘maklashish ishlari, shuningdek
                        ta’lim muassasalari o‘quvchilarini zamon talabiga mos informatsion texnologiyalarni
                        o‘zlashtirishlariga hissa qo‘shish hamda tijoratlashtirish asosida import o‘rnini
                        bosuvchi dasturiy maxsulotlar ishlab chiqarishga va zamonaviy texnologiyalarni joriy
                        etish, loyihalash va ularni belgilangan tartibda amalga oshirish, hamda autsorsing
                        xizmatlarini ko‘rsatishdan iboratdir. Zamonaviy dasturlash tillarini o‘rgatishda yoshlar
                        uchun zamonaviy muhit hosil qilish. IT yo‘nalishiga o‘sib kelayotgan yoshlarni
                        tayyorlash. O‘zbek tilidagi informatsion texnologiyalarga oid zamonaviy kitoblar
                        manbaasini shakillantirishga hissa qo‘shishdan iboratdir.
                        Kafedraning professor-o’qituvchilari, doktorantlari, magistrantlari va ilmiy
                        izlanuvchilari fan-texnika taraqqiyoti uchun dolzarb hisoblangan quyidagi yo’nalishlarda
                        tadqiqot ishlarini olib borishmoqda:
                        Raqamli tasvirlarni qayta ishlash va tanib olish (ilmiy maslahatchi: prof.
                        Sh.X.Fozilov).
                        Obrazlarni aniqlash usullari va algoritmlari (ilmiy maslahatchi: prof. A.X.Nishanov)
                        O‘zbekiston Respublikasi favqulodda vaziyatlar vazirligi akademiyasi fuqaro muhofazasi
                        instituti O‘zbekiston Respublikasi Vazirlar Mahkamasi huzuridagi Seysmologiya,
                        inshootlarning seysmik mustahkamligini va seysmik xavfsizlikni ta’minlash sohasini
                        qo‘llab-quvvatlash jamg‘armasi 2022-2023 yillar uchun «Aholining barcha qatlamini
                        zilzilaga tayyorlashga mo‘ljallangan masofaviy kursni tashkil etish uchun milliy
                        elektron ta’lim platformasini yaratish».
                        O‘zbekiston Respublikasi Vazirlar Mahkamasi huzuridagi Seysmologiya, inshootlarning
                        seysmik mustahkamligini va seysmik xavfsizlikni ta’minlash sohasini qo‘llab-quvvatlash
                        jamg‘armasi 2022-2023 yillar uchun Loyiha nomi «Yer osti inshootlari va muhandislik
                        tarmoqlarini «Zilzilaviy hududlarda qurilish» me’yoriy hujjati asosida hisoblashning
                        raqamlashtirilgan milliy dasturiy majmuasini ishlab chiqish»
                        Hozirgi kunda kafedraning ikki nafar o‘qituvchisi doktorant va stajer-tadqiqotchi
                        sifatida tahsil olayotgan bo‘lsa, yana ikki nafari mustaqil tadqiqotchi sifatida ilmiy
                        faoliyat bilan shug‘ullanmoqda. Kafedrada olib borilayotgan ilmiy izlanishlar natijalari
                        bo‘yicha 200 dan ortiq ilmiy maqolalar chop etilgan va xalqaro hamda respublika
                        miqyosidagi ilmiy anjumanlarda ma`ruzalar qilingan. Kafedra 2021 yil 30-31 mart kunlari
                        Namangan shahrida o'tkazilgan “Axborot tizimlari va texnologiyalarining zamonaviy
                        jamiyatdagi o'rni” mavzusidagi Respublika miqyosida ilmiy-amaliy konferentsiyaning
                        asosiy tashkilotchisi hisoblanadi.
                        Kafedrada iqtidorli talabalar bilan ishlash keng yo‘lga qo‘yilgan. Ilmiy rahbarlar
                        tuzgan rejalar asosida ular ilmiy, ilmiy-uslubiy ishlar olib borishmoqda. 2008-2012
                        yillarda 2 nafar talabasi Prezident stipendiati bo‘lishgan. 2021/2022 yillarda yana 3
                        nafar talabalarimiz “Beruniy” va “Islom Karimov” Davlat stipendianti sohibi bo‘lishdi.

                    </p>
                    <div class="row my-5">
                        <div class="col-12 col-md-4">
                            <img class="img-fluid" src="{% static 'img/01.png' %}" alt="">
                        </div>
                        <div class="col-12 col-md-4">
                            <img class="img-fluid" src="{% static 'img/02.png' %}" alt="">
                        </div>
                        <div class="col-12 col-md-4">
                            <img class="img-fluid" src="{% static 'img/03.png' %}" alt="">
                        </div>
                    </div>
                    <p class="text text_justify">Kafedraning iqtidorli talabalari har yili o‘tkaziladigan dasturchilarning
                        Xalqaro va
                        Respublika olimpiadalarida muntazam qatnashib kelishmoqda.
                        Kafedra Axborot tizimlari va texnologiyalari sohasida O'zMU, TATU,
                        Axborot-kommunikatsiya texnologiyalari ilmiy-innovatsion markazi hamda IT Park bilan
                        hamkorlik aloqalarini o'rnatgan. Xususan, kafedra IT Park bilan xam hamkorlik
                        Memorandumi asosida xamkorlikda ishlamoqda. Bunda ayniqsa yosh o‘qituvchilar va
                        talabalar “Bir million dasturchi” loyihasi doirasida juda faol qatnashishmoqda.
                        Start-UP tashabbuslari bo‘yicha hozirda “ITechLab”, “IDEA Challenge”, “Bo‘lajak olim“,
                        “Yosh olima”, “AloqaTech Lab” va “Mirzo Ulug‘bek vorislari” tanlovlariga 7 nafar
                        talabalarimiz g‘oyalari shakllantirilib loyiha ko‘rinishiga olib kelindi va topshirildi.
                        Kafedra professor-o‘qituvchilari o‘quv-uslubiy adabiyotlarni tayyorlash va chop etish
                        masalasiga ustivor yo‘nalishlardan biri deb qarab kelmoqda. Jumladan, 2015 yilda “Amaliy
                        matematik dasturlar paketi” 2018 yilda “Matematik modellashtirish” nomdagi o‘quv
                        qo‘llanmalar chop ettirildi. 2020 yilda “Amali matematik dasturlar paketi”, “Web
                        dasturlash” nomdagi o‘quv qo‘llanmalar chop ettirildi. 2021 yilda “Amali matematik
                        dasturlar paketi” nomli darslik hamda “Pythonda dasturlash” nomli o‘quv qo‘llanmalar
                        vazirlik qoshidagi Muvofiqlashtiruvchi kengashning nashr ruxsatnomasini olgan. 2022
                        yilda yana 3 ta o‘quv qo‘llanma va 2 ta darsliklarning qo‘lyozmalari ustida ish olib
                        borilmoqda.
                        Kafedra tasarrufida - 11 ta o‘quv-tajriba laboratoriyasi xonalari, jumladan, yuzasi 72
                        m.kv dan bo‘lgan 3 ta ma‘ruza xonasi, yuzasi 36 m.kv dan bo‘lgan 8 ta tajriba va amaliy
                        mashg’ulot xonasi, yuzasi 36 m.kv ga teng bo’lgan o’quv-metodik xonasi, zamonaviy
                        kompyuterlar va texnika vositalari bilan jihozlangan yuzasi 72 m.kv dan bo’lgan o’quv
                        amaliy xonalar, tajriba va amaliy mashg’ulotlarni olib borish uchun mo’ljallangan
                        zamonaviy tipdagi 4 ta kompyuter sinflari mavjud.
                    </p>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <h6 class="text-center fw-bold">Kafedrada o'qituvchilar tarixi</h6>
                <div class="row  justify-content-center">
                    <div class="col-12 mt-5">
                        <img data-domla="domla1" class="cursor_pointer jsImg img-fluid w-100 history_img" src="{% static 'img/irisqulov.jpg' %}" alt="">
                        <div class="text-center mt-3">
                            <h5 class="fw-bold">Irisqulov Sultonboy Sobirqulovich</h5>
                            <p>(1955-2012)</p>
                        </div>
                    </div>
                    <div class="col-12 col-xl-8">

                    </div>
                </div>
                <div class="row  justify-content-center mt-5">
                    <div class="col-12">
                        <img data-domla="domla2" class="cursor_pointer jsImg img-fluid w-100 history_img" src="{% static 'img/historyimg1.jpg' %}" alt="">
                    </div>
                    <div class="text-center mt-3">
                        <h5 class="fw-bold">Hakimjon Abdulhapizov</h5>
                        <p>(1951-2001)</p>
                    </div>
                    <div class="col-12 col-xl-8">

                    </div>
                </div>
                <div class="row cursor_pointer justify-content-center mt-5">
                    <div class="col-12">
                        <img data-domla="domla3" class="cursor_pointer jsImg img-fluid w-100 history_img" src="{% static 'img/karimov.jpg' %}" alt="">
                    </div>
                    <div class="text-center mt-3">
                        <h5 class="fw-bold">Karimov Pazliddin Yigitaliyevich</h5>
                        <p>(1952-2017)</p>
                    </div>
                 <div class="col-12 col-xl-8">
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- hoistory end -->
<script>
    let popup = document.querySelector(".popup")
    let body = document.querySelector("body")
    document.querySelectorAll(".jsImg").forEach((image) => {
        image.addEventListener("click", (e) => {
            let img_data = e.target.getAttribute('data-domla');
            popup.style.display = "block";
            body.style.overflowY = "hidden";
            document.getElementById(img_data).classList.add('active')
        });
    });
document.querySelector(".popup span").addEventListener("click", () => {
    removePtags(document.querySelectorAll('.myModal p'));
    popup.style.display = "none";
    body.style.overflowY = "scroll";
});
window.onclick = function(event) {
  if (event.target == document.querySelector(".popup")) {
    removePtags(document.querySelectorAll('.myModal p'));
    popup.style.display = "none";
    body.style.overflowY = "scroll";
  }
}
function removePtags(data){
    data.forEach((item) => {
        item.classList.remove('active')
    });
}

</script>

{% endblock %}