{% extends 'kafedra/base.html' %}
{% load static %}



{% block title %} Kafedra | tarixi {% endblock %}

{% block content %}

{{ tarix.0.context | safe }}

<script>
    let popup = document.querySelector(".popup")
    let body = document.querySelector("body")
    document.querySelectorAll(".jsImg").forEach((image) => {
        image.addEventListener("click", (e) => {
            let img_data = e.target.getAttribute('data-domla');
            popup.style.display = "block";
            body.style.overflowY = "hidden";
            document.getElementById(img_data).classList.add('active')
        });
    });
document.querySelector(".popup span").addEventListener("click", () => {
    removePtags(document.querySelectorAll('.myModal p'));
    popup.style.display = "none";
    body.style.overflowY = "scroll";
});
window.onclick = function(event) {
  if (event.target == document.querySelector(".popup")) {
    removePtags(document.querySelectorAll('.myModal p'));
    popup.style.display = "none";
    body.style.overflowY = "scroll";
  }
}
function removePtags(data){
    data.forEach((item) => {
        item.classList.remove('active')
    });
}

</script>

{% endblock %}