{% load static %}
<section class="footer mt-100 border-top">
    <div class="container_new pt-5">
        <div class="row">
            <div class="col-12 col-lg-4">
                <p class="white">
                    Namangan Muhandislik Qurulish instituti Axborot tizimlari va texnologiyalari kafedrasi <br>
                    © 2006-2022
                </p>
                <a class="brand_link gap-2" href="{% url 'home' %}">
                    <img class="brand_img brand_im" src="{% static 'img/att_logo.png' %}" alt="">
                    <p
                        class="text-uppercase border-start ps-2 border-2 fs-6 mt-4 brand_text fw-bold d-none d-sm-block white">
                        Axborot tizimlari va
                        texnologiyalari kafedrasi
                    </p>
                </a>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-3">
                <ul class="nav flex-column">
                    <li class="nav-item mb-2">
                        <h5 class="fw-bold mb-4">Tezkor havola</h5>
                        <a href="#" class="nav-link text-uppercase p-0 fs-13 white">KAFEDRA
                            TARIXI</a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="{% url 'teachers' %}" class="nav-link text-uppercase p-0 fs-13 white">KAFEDRA
                            TARKIBI</a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link text-uppercase p-0 fs-13 white">O'QITILADIGAN FANLAR</a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link text-uppercase p-0 fs-13 white">ELEKTRON DARSLIK</a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link text-uppercase p-0 fs-13 white">IQTIDORLI O'QUVCHILAR</a>
                    </li>
                </ul>
            </div>

            <div class="col-12 col-md-6 col-lg-4 mb-3">
                <ul class="nav flex-column">
                    <h5 class="fw-bold mb-4">Bog'lanish</h5>
                    <li class="nav-item mb-3 d-flex gap-2">
                        <i class="fa-solid fa-location-dot"></i>
                        <a href="#" class="nav-link text-uppercase p-0 fs-13 white">Islom Karimov ko`chasi
                            27-uy</a>
                    </li>
                    <li class="nav-item mb-3 d-flex gap-2">
                        <i class="fa-solid fa-phone"></i>
                        <a href="#" class="nav-link text-uppercase p-0 fs-13 white">+998 69 234 18 01. +998 69
                            234 15 23</a>
                    </li>
                    <li class="nav-item mb-3 d-flex gap-2">
                        <i class="fa-solid fa-envelope"></i>
                        <a href="#" class="nav-link p-0 fs-13 white">nmpi_info@edu.uz</a>
                    </li>
                    <div class="icon_link d-flex justify-content-center justify-content-sm-start gap-3">
                        <a class="icon_mes first_bg" href="https://t.me/NamMQI_YI">
                            <i class="fa-sharp fa-solid fa-paper-plane white"></i>
                        </a>
                        <a class="icon_mes first_bg" href="https://www.instagram.com/nammqi.uzb/">
                            <i class="fa-brands fa-instagram white"></i>
                        </a>
                        <a class="icon_mes first_bg" href="">
                            <i class="fa-brands fa-facebook-f"></i>
                        </a>
                    </div>
                </ul>
            </div>

        </div>
    </div>
</section>