<section>
    <div class="search_modal">
        <div class="offcanvas offcanvas-top" tabindex="-1" id="offcanvasTop" aria-labelledby="offcanvasTopLabel">
            <div class="offcanvas-header  py-0 pt-3">
                <span></span>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body py-0 pt-0">
                <div class="container">
                    <h3 class="offcanvas-title first_color text-center">Sayt boyicha izlash</h3>
                    <form action="" class="row justify-content-center">
                        <div class="col-12 col-md-7">
                            <div class="input-group mb-3 ">
                                <input type="text" class="form-control form-control-lg box_shadow_nonne" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
                                <button class="btn px-4 first_bg" type="button" id="button-addon1">Qidirish</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>