* {
  font-family: "Poppins", sans-serif;
}
body {
  padding-bottom: 400px;
  min-height: 100vh;
  position: relative;
}

/* *-========== header menu section end ==========-* */

.skiptranslate {
        display: none;
      }
      .goog-te-gadget {
        display: block !important;
      }
      body {
        position: relative;
        top: 0 !important;
        left: 0 !important;
      }
      .none {
        display: none !important;
      }
      .icon {
        width: 20px;
      }

.bg_text {
  position: absolute;
  left: 50%;
  bottom: 0px;
  transform: translateX(-50%);
  /* color: #F1F5F9; */
  font-weight: bold;
  font-size: 30px;
  user-select: none;
  opacity: 0.05;
  /* border: 3px solid red; */
}
.bg_text .img_text {
  width: 500px;
}
/* *-========== news section start ==========-* */
.right_menu_ul {
  list-style: none;
}

.right_menu_ul .right_menu a {
  color: #243978;
}
.section_title_hover:hover {
  background: #f4f4f4;
  color: grey;
}
.right_menu img {
  width: 40px;
}

/* *-========== news section end ==========*- */

/* *-========== ta'lim yo'nalishlari start ==========*- */

.talim_circle_card {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #243978;
  border-radius: 50%;
  transition: all 0.3s linear;
}

.talim_circle_card img {
  width: 50px;
}

.talim_card_title {
  background: #243978;
  color: #fff;
  display: inline-block;
  padding: 5px 10px;
  font-size: 13px;
  border-radius: 50px;
  margin-bottom: 20px;
  transition: all 0.3s linear;
}

/* *-========== ta'lim yo'nalishlari end ==========*- */

/* *-========== interaktiv xizmatlar start ==========*- */
.xizmat_card_circle {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #243978;
  display: flex;
  justify-content: center;
  align-items: center;
}

.xizmat_card_circle img {
  width: 30px;
}

/* top link style */
.top-link {
  font-size: 1.25rem;
  position: fixed;
  bottom: 3rem;
  right: 2rem;
  background: #1A3E6C;
  width: 2.5rem;
  height: 2.5rem;
  display: grid;
  place-items: center;
  border-radius:6px;
  color: #fff;
  animation: bounce 2s ease-in-out infinite;
  visibility: hidden;
  z-index: 100;
}
.show-link {
  visibility: visible;
  z-index: 100;
}
.top-link:hover{
  color: #fff;
}
/* end top link style */

/* *-========== interaktiv xizmatlar end ==========*- */

/* *-========== ko'rsatkichlar start ==========*- */

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes growProgressBar {
  0%,
  33% {
    --pgPercentage: 0;
  }

  100% {
    --pgPercentage: var(--value);
  }
}

@property --pgPercentage {
  syntax: "<number>";
  inherits: false;
  initial-value: 0;
}

.prog {
  --size: 15rem;
  --fg: #369;
  --bg: #def;
  --pgPercentage: var(--value);
  animation: growProgressBar 3s 1 forwards;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  display: grid;
  place-items: center;
  background: radial-gradient(
      closest-side,
      white 80%,
      transparent 0 99.9%,
      white 0
    ),
    conic-gradient(var(--fg) calc(var(--pgPercentage) * 1%), var(--bg) 0);
  font-family: Helvetica, Arial, sans-serif;
  font-size: calc(var(--size) / 7);
  color: var(--fg);
}

div[role="progressbar"]::before {
  counter-reset: percentage var(--value);
  content: counter(percentage) "%";
}
.prog_2 {
  --fg: #c67e7e;
  --bg: #def;
}
.prog_3 {
  --fg: #8b7b9f;
  --bg: #def;
}
.prog_4 {
  --fg: #7b9f98;
  --bg: #def;
}

/* *-========== ko'rsatkichlar end ==========*- */

/* *-========== hududiy boshqarmalar start ==========*- */

.useful_link_img {
  width: 50px;
}
/* *-========== hududiy boshqarmalar end ==========*- */

/* *-========== footer start ==========*- */

.footer {
  background: #336699;
  color: #fff;
  width: 100%;
  position: absolute;
  bottom: 0;
}
.footer a:hover {
  color: #fff;
  text-decoration: underline #fff !important;
}
.icon_mes {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  text-decoration: none;
}
/* *-========== footer end ==========*- */

/* *-========== helper code ==========*- */

.pt-100 {
  padding-top: 100px;
}

.pt-50 {
  padding-top: 50px;
}

.pb-100 {
  padding-bottom: 100px;
}

.mt-100 {
  margin-top: 100px;
}

.mt-50 {
  margin-top: 50px;
}

.mb-100 {
  margin-bottom: 100px;
}

.py-100 {
  padding: 100px 0;
}

.py-50 {
  padding: 50px 0;
}

.px-50 {
  padding: 0 50px;
}

.my-100 {
  margin: 100px 0;
}

.brr-50 {
  border-radius: 50%;
}
.brr-50px {
  border-radius: 50px;
}

.brr-20 {
  border-radius: 20px;
}

.brr-5 {
  border-radius: 5px;
}

.brr-30 {
  border-radius: 30px;
}
.brr-0 {
  border-radius: 0 !important;
}

.fs-11 {
  font-size: 11px;
}

.fs-12 {
  font-size: 12px;
}

.fs-13 {
  font-size: 13px !important;
}

.fs-18 {
  font-size: 18px;
}

.fs-11 {
  font-size: 11px;
}

.align_items_center {
  display: flex;
  align-items: center;
}

.justify_content_end {
  display: flex;
  justify-content: end;
}

.flx_direction_column {
  display: flex;
  flex-direction: column;
}

.first_bg {
  background-color: #243978 !important;
  color: #fff !important;
}

.first_color {
  color: #243978 !important;
}

.border_end {
  border-right: 1px solid #dee2e6;
}

.none {
  display: none !important;
}
.active {
  display: block !important;
}

.cursor_pointer {
  cursor: pointer;
}

.box_shadow_nonne:focus {
  box-shadow: none !important;
}

.container {
  margin: 0 auto !important;
}

a {
  text-decoration: none !important;
}

.tran_time {
  transition: all 0.3s linear;
}

.hover_d_1:hover {
  text-decoration: underline #243978 !important;
  /* text-decoration-line: underline !important; */
  /* text-decoration-color: #243978 !important; */
}

.hover_d_2:hover {
  text-decoration: 1px underline #000 !important;
}
.border_t {
  border-top: 1px solid #dee2e6;
}
.border_b {
  border-bottom: 1px solid #dee2e6;
}
.brand_img {
  width: 80px;
}
.brand_im {
  width: 100px;
}
.brand_div {
  width: 340px;
}

.brand_text {
  font-size: 12px;
}

.brand_link {
  text-decoration: none;
  color: #000;
  display: flex;
  align-items: center;
}

.btn_language {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  background: transparent;
  border: none;
}

.language_active {
  background: #243978;
  color: #fff;
}
/* .psevdo_left_right::before{
    content: '';
    position: absolute;
    background: #1A3E6C;
    width: 300px;
    height: 30px;
    border-radius: 0 0 20px 20px;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
} */
.psevdo_left_right::before {
  content: "";
  position: absolute;
  background: #1a3e6c;
  width: 40px;
  height: 300px;
  border-radius: 0 20px 20px 0;
  top: 100px;
  left: 0;
}
.psevdo_left_right::after {
  content: "";
  position: absolute;
  background: #1a3e6c;
  width: 40px;
  height: 300px;
  border-radius: 20px 0 0 20px;
  top: 100px;
  right: 0;
}
.white {
  color: #fff !important;
}
.black {
  color: #000 !important;
}

/* *-========== helper code ==========*- */
.history_img{
  filter: grayscale(100%);
}

.portfolio {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}

.port_card_img {
  cursor: zoom-in;
  /* border: 20px; */
}
.popup {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
  z-index: 10000;
  background: rgba(0, 0, 0, 0.4);
  display: none;
}
.modal_dis{
  width: 900px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 500px;
  background: #fff;
  /* border-radius: 10px; */
  padding: 40px;
}
.mySwiper , .myModal{
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 10;
  /* border: 3px solid red; */
  overflow-y: scroll !important;
}

.popup .exit {
  position: fixed;
  top: 0;
  right: 10px;
  font-size: 50px;
  color: #000;
  cursor: pointer;
  z-index: 21;
}
.mySwiper::-webkit-scrollbar,
.myModal::-webkit-scrollbar{
  width: 8px;
}

.mySwiper::-webkit-scrollbar-track,
.myModal::-webkit-scrollbar-track{
  background: transparent;
}

/* Handle */
.mySwiper::-webkit-scrollbar-thumb,
.myModal::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.themes_card {
  width: 100%;
  height: 100%;
  padding: 30px 10px;
  margin-top: 30px;
}

.themes_card ul {
  list-style: none !important;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
  padding: 0;
}

.themes_card ul li {
  background-image: linear-gradient(
    to right,
    #005cea 0%,
    #00c5fb 50%,
    #005cea 100%
  );
  margin: 0 20px;
  color: #fff;
  border-radius: 5px;
  background-size: 200% auto;
  transition: all 0.5s ease-in-out;

  padding: 10px 15px;
  border-radius: 5px;
  font-size: 20px;
}

.themes_card ul li:hover {
  color: #fff;
  background-position: 100% 0;
  transition: all 0.5s ease-in-out;
}

.themes_card ul li a {
  color: #fff;
  text-decoration: none;
  display: block;
}
.text_justify{
  text-align: justify;
}
.modal_p{
  display:none;
}


.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height:500px !important;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}
.swiper.mySwiper{
  overflow-y: hidden !important;
}
.aticle_deteil_card{
  width: 70%;
  margin: 0 auto;
}
.text-justify{
  text-align: justify !important;
}
.pagination a{
  color: #243978 !important;
}
.pagination a:hover{
  background: #243978;
  color: #fff !important;
}
.img_home img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.img_home{
  height: 250px !important;
  display: block;
}
/* *-========== responsive ==========*- */
@media screen and (max-width: 992px) {
  .border_end {
    border-right: none;
  }
  .modal_dis {
    width: 90%;
  }
  body {
    padding-bottom: 450px;
  }
  .aticle_deteil_card{
    width: 100%;
    margin: 0 auto;
  }
  .img_home{
    height: 350px !important;
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .portfolio {
    display: grid;
    grid-template-columns: 1fr;
  }
  .container {
    padding: 0 20px !important;
    margin: 0 auto !important;
  }
  body{
    padding-bottom: 670px;
}
  .port_card {
    max-width: 560px;
    display: inline-block;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    margin: 10px 0;
  }
  .themes_card ul {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height:300px !important;
  }
}

@media screen and (max-width: 576px) {
  .brand_div {
    width: 200px;
  }
  body{
    padding-bottom: 700px;
}
  .container {
    padding: 0 20px !important;
    margin: 0 auto !important;
  }
  .modal_dis {
    width: 95%;
    height: 300px;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height:250px !important;
  }
}
