* {
  font-family: sans-serif;
}


.pt-100 {
  padding-top: 100px;
}

.pt-50 {
  padding-top: 50px;
}


.pb-100 {
  padding-bottom: 100px;
}

.mt-100 {
  margin-top: 100px;
}

.mt-50 {
  margin-top: 50px;
}

.mb-100 {
  margin-bottom: 100px;
}

.py-100 {
  padding: 100px 0;
}

.py-50 {
  padding: 50px 0;
}

.px-50 {
  padding: 0 50px;
}

.my-100 {
  margin: 100px 0;
}

.brr-50 {
  border-radius: 50%;
}

.brr-20 {
  border-radius: 20px;
}

.brr-5 {
  border-radius: 5px;
}

.brr-30 {
  border-radius: 30px;
}

.fs-11 {
  font-size: 11px;
}

.fs-12 {
  font-size: 12px;
}

.fs-13 {
  font-size: 13px;
}

.fs-18 {
  font-size: 18px;
}

.fs-11 {
  font-size: 11px;
}

.align_items_center {
  display: flex;
  align-items: center;
}

.justify_content_end {
  display: flex;
  justify-content: end;
}

.flx_direction_column {
  display: flex;
  flex-direction: column;
}

.first_bg {
  background-color: #243978 !important;
  color: #fff !important;
}

.first_color {
  color: #243978;
}

.border_end {
  border-right: 1px solid #DEE2E6;
}

.active {
  display: block !important;
}

.cursor_pointer {
  cursor: pointer;
}

.box_shadow_nonne:focus {
  box-shadow: none !important;
}

.container_new {
  width: 100%;
  padding: 0 80px;
  position: relative;
  max-width: 1400px;
  margin: 0 auto;
}

a {
  text-decoration: none !important;
}

/* *-========== header menu section start ==========-* */
.brand_img {
  width: 80px;
}
.brand_im{
  width: 100px;
}
.brand_div {
  width: 340px;
}

.brand_text {
  font-size: 12px;
}

.brand_link {
  text-decoration: none;
  color: #000;
  display: flex;
  align-items: center;
}

.btn_language {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  background: transparent;
  border: none;

}

.language_active {
  background: #243978;
  color: #fff;
}
.psevdo_left_right::before{
  content: '';
  position: absolute;
  background: #1A3E6C;
  width: 40px;
  height: 300px;
  border-radius: 0 20px 20px 0;
  top: 100px;
  left: 0;
}
.psevdo_left_right::after{
  content: '';
  position: absolute;
  background: #1A3E6C;
  width: 40px;
  height: 300px;
  border-radius:20px 0 0 20px;
  top: 100px;
  right: 0;
}



/* *-========== header menu section end ==========-* */


/* *-========== teacher section start ==========-* */
.img_card {
  width: 100%;
  /* height: 100%; */
  /* margin-top: 10px; */
  object-fit: cover;
  /* border-radius: 50%; */
  /* padding-top: 10px; */
  /* border-radius: 20px 20px 20px 0; */
}

.img_div {
  width: 130px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  /* border: 1px solid #3F82BB */
}

.icons {
  color: #fff;
  display: flex;
  justify-content: center;
  gap: 15px;
  /* gap: 10px; */

}

.icons .icons_div {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons .icons_div a {
  color: #fff;
  text-decoration: none;
}

.btn_div {
  display: flex;
  justify-content: end;
  align-items: flex-end;
}

/* *-========== teacher section end ==========*- */
a {
  text-decoration: none !important;
}


/* *-========== responsive ==========*- */
@media screen and (max-width:992px) {
  .border_end {
    border-right: none;
  }
}

@media screen and (max-width:768px) {}

@media screen and (max-width:576px) {}