<section class="footer pb-5">
    <div class="section">
        <div class='air air1'></div>
        <div class='air air2'></div>
        <div class='air air3'></div>
        <div class='air air4'></div>
    </div>
    <div class="container">
        <footer class="pt-5">
            <div class="pt-4 border-top text-center text-white">
                <p>&copy; <span id="change_date"></span> Axborot Tizimlari va Texnologiyalari kafedrasi. Barcha huquqlar himoyalangan</p>
            </div>
        </footer>
    </div>
</section>

<script>
    let now_year = new Date();
    let change_date = document.querySelector('#change_date');
    change_date.textContent = now_year.getFullYear();
</script>