{% load static %}

<section class="header position-relative">
    <div class="bg_img_div">
        {% if subject.subject_bg_pic %}
        <img class="bg_img" src="{{ subject.subject_bg_pic.url }}" alt="">
        {% else %}
        <img class="bg_img" src="{% static 'img/header-bg.png.webp' %}" alt="">
        {% endif %}
    </div>
    <div class="bg_text d-none d-md-block">
        EDU
    </div>
    <div class="menu py-4">
        <nav class="navbar navbar-expand-lg">
            <div class="container border-bottom">
                <a class="navbar-brand" href="/e-darslik/{{subject.subject_slug}}/">
                    <!-- <img src="{% static 'img/elec_logo.png' %}" alt=""> -->
                    <h4 class="fw-bold text_color">{{ subject.subject_subname }}</h4>
                </a>
                <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 col justify-content-center">
                        <li class="nav-item">
                            <a class="nav-link hvr-underline-from-left" aria-current="page" href="/e-darslik/{{subject.subject_slug}}/themes/">Ma`ruzalar</a>
                        </li>
                        {% if subject.subject_slug == 'python-dasturlash-tili' %}
                        <li class="nav-item ">
                            <a class="nav-link hvr-underline-from-left" aria-current="page" href="/e-darslik/{{subject.subject_slug}}/practis_themes_page/">Amaliy</a>
                        </li>
                        {% else %}
                        <li class="nav-item ">
                            <a class="nav-link hvr-underline-from-left" aria-current="page" href="/e-darslik/{{subject.subject_slug}}/virtuale/">Virtual</a>
                        </li>
                        {% endif %}
                        <li class="nav-item ">
                            <a class="nav-link hvr-underline-from-left" aria-current="page" href="/e-darslik/{{subject.subject_slug}}/resources_page/">E-Resurslar</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link hvr-underline-from-left" aria-current="page" href="/e-darslik/{{subject.subject_slug}}/glossary_page/">Glossary</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link hvr-underline-from-left" aria-current="page" href="/e-darslik/{{subject.subject_slug}}/quiz_page/">Testlar</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link hvr-underline-from-left" aria-current="page" href="/e-darslik/{{subject.subject_slug}}/video_page/">Video darslar</a>
                        </li>
                        {% if request.user.is_authenticated %}
                        <li class="nav-item ">
                            <a class="nav-link hvr-underline-from-left" aria-current="page" href="/e-darslik/{{subject.subject_slug}}/logout/">Chiqish</a>
                        </li>
                        {% else %}
                        <li class="nav-item ">
                            <a class="nav-link hvr-underline-from-left" aria-current="page" href="/e-darslik/{{subject.subject_slug}}/sign_up/">Ro`yxatdan
                                o'tish</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link hvr-underline-from-left" aria-current="page" href="/e-darslik/{{subject.subject_slug}}/sign_in/">Kirish</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="header_body pb-5">
        <div class="container py-5">
            <div class="row align-items-center justify-content-center text-center">
                <div class="col-12 col-lg-8 py-5">
                    <h1 class="display-5 text_color  fw-bold">{{ subject.subject_name }} fanidan elektron qo'llanma</h1>
                    <p>Ushbu elektron darslik barcha oliy o'quv yurtlari talabalari va o'qituvchilar uchun mo'ljanlangan</p>
                    <div class="d-block d-sm-flex justify-content-center gap-4">
                        <a href="/media/{{ subject.subject_file_1 }}" download class="text-center d-block mt-3 mt-sm-0  py-3 px-5 btn-content hvr-btn">Fan dasturi</a>
                    <a href="/media/{{ subject.subject_file_2 }}" download class="text-center d-block mt-3 mt-sm-0  py-3 px-5 btn-content hvr-btn">Uslubiy ko'rsatma</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>