{% load static %}
<div class="header-top text-white">
    <div class="container">
        <div class="ul_header d-flex justify-content-between">
            <div class="site_logo"><img src="{% static 'img/logo-1.png' %}"  alt=""></div>
            <ul class="left d-flex">
                <li>
                    <img style="width: 70px;" src="{% static 'img/elogo.png' %}" alt=""> <span class="h5">Axborot Tizimlari va Texnologiyalari kafedrasi</span>
                </li>

            </ul>
        </div>
    </div>
</div>