<div
  class="user_top bg-dark d-block d-sm-flex justify-content-center justify-content-sm-between p-3 px-sm-4 py-sm-0"
>
  <div class="d-flex align-items-center justify-content-center gap-2">
    {% if teacher.avatar %}
      <img
        class="img"
        src="{{ teacher.avatar.url }}"
        alt=""
      />
      {% else %}
      <img
        class="img"
        src="https://www.luxecorp.ru/templates/hunter/assets/img/persons/default.png"
        alt=""
      />
      {% endif %}
  </div>
  <div class="d-flex mt-3 mt-sm-0 align-items-center">
    <p class="mb-0 text-white me-3">{{ teacher.teacher_id.first_name }}</p>
    <a href="{% url 'logout' %}" class="btn btn-danger text-white"><i class="fa-solid fa-right-from-bracket"></i> Chiqish</a>
  </div>
  
</div>
