{% extends 'e_dars/base.html' %}
{% load static %}

{% block title %}Kirish{% endblock %}


{% block content %}

{% include 'e_dars/includes/navbar2.html' %}
<div class="container my-5">
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            <div class=" shadow p-4">
                <h3 class="text-center">Kirish</h3>
                <hr/>
                <form method="post">
                    {% csrf_token %}
                    {% if message %}
                        <div class="alert alert-{{col}} text-center">{{message}}</div>
                    {% endif %}
                    <div class="mb-3">
                        <label class="form-label">Username</label>
                        <input type="text" class="form-control" name="username"
                        placeholder="Username kiriting....">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Password</label>
                        <input type="password" class="form-control" name="password"
                        placeholder="Password kiriting....">
                    </div>
                    <button class="text-center  py-3 px-5 btn-content hvr-btn border-0">Kirish</button>
                    <div class="bg-light p-4">
                        <span class="text-center d-block"> Agarda halicha accountingiz bo'lmasa,
                       <div class="mt-4">
                        <a href="/e-darslik/{{subject.subject_slug}}/sign_up/" class="text-center py-3 px-3 btn-content hvr-btn">Yangi account Yaratish</a></span>
                       </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
{% include 'e_dars/includes/footer.html' %}
{% endblock %}